API_KEY=XXXXXXXX:XXXXXXXXXXXXXXXXXXXXXX
ADMIN_CHAT_ID=XXXXXXXXX
ADMIN_NAME=XXXXXXX
NGROK_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PRONOUN=She/He/They/Them
FFMPEG_PATH_PREFIX=C:\ffmpeg\bin\
RDP_PORT=3389
CHAT_BOT_ENABLED=True